<% if :notice %>
  <%= @notice %>
<% end %>
<div>
  <%= form_for Post.new, :url => { :controller => 'posts', :action => 'create'} do |f| %>
      <div>
        <%= f.label :title, "標題" %>
        <%= f.text_field :title, class: 'post_edit_title' %>
      </div>
      <div>
        <%= f.label :content, "內容" %>
        <%= f.text_area :content, class: 'edit_post_conent_text' %>
      </div>
      <div>
        <%= f.submit "發表文章", class: 'post_submit' %>
      </div>
  <% end %>
</div>